# Виртуальное окружение
venv/
env/
virtualenv/
__pycache__/

*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

.env
.env.local
.env.development.local
.env.test.local
.sass-cache/
*.log
*.pot
*.mo
.manage.py.swp

db.sqlite3
media/
staticfiles/

.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

*.bak
*.tmp

node_modules/
jspm_packages/

.dockerignore
.k8s/
Dockerfile